  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-25px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-25px);
    }
  }

  body{

    margin: 10px;
  }

  img{

    width: 50%;
    height: 50%;
    top : 15%;
    left : 25%;
    display: none;
    position :absolute;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

  #processing{

    position: absolute;
    top : 70%;
    width: 100%;
    display:none;
    text-align:center;
    font-family: arial;
    color : #3d4852;
    font-size: 20px;
  }